*{box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    margin: 0;
    font-family:Arial, sans-serif;
    color: #111111;
}

header h1 {
    color:  #f8f3f2;
    margin: 0;
}


main{
    height:66.66%;
    display: flex;
    flex-direction: row;
}
main #cuadro{
    width: 100%;
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px;
    height: 66.66%;
}
form #imag{
    width: 30%;
}
form #formulario{
    width: 70%;
}

body {
    background-color: #121212;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
}
.columna{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    background-color:#121212;
    margin: 10px;
    padding: 10px;
}


main{
    height: 600px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    
}
main #cuadro{
    width: 90%;
    display: flex;
    flex-direction: column;
}
#menu{
    color: #FFFFFF;
    background-color: #E63946;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border: 3px #f9f6fa71 solid;
    font-weight: bold;
    list-style:square;
    text-align: center;
    margin: 10px;
    
    
}
#menu nav ol {
    display: flex;
    flex-direction: column;
    list-style: none;
}
#menu nav ol li{
    padding-bottom: 60%;
    padding-top: 60%;
}
#menu nav ol li a{
    color: #ded1dd;
    text-decoration: none;
}
#menu nav ol li a:hover{
    background-color: #f9f6fa71;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}
form{
    background-color: #524d4d;
    
}
form div {
    margin-bottom: 20px;
}

label {
    color:#eeeeee;
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
}

input[type="text"],input[type="number"], form div select {
    width: 50%;
    padding: 10px;
    border: 1px solid #111111;
    border-radius: 5px;
}
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    display: inline;
    font-weight: normal;
    margin-right: 15px;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

button[type="button"] {
    width: 100%;
    justify-content: space-evenly;
    padding: 12px;
     color: white;
    background-color: #f3061a;
    border: 10px #FFFFFF 2px ;
    font-size: 16px;
}

button[type="button"]:hover {
    background-color: #f3061a;
}
#cuadro header{
    background-color: #524d4d;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom: 50px;
    padding-top: 60px;
    height: 100%;
}
footer{
    color: white;
    background-color: #f3061a;
    display: flex;
    flex-direction: row;
    width: 98%;
    padding: 20px;
    margin: 10px;
    padding: 10px;
    
}
footer #nombre{
    padding: 20px;
    padding-left: 1000px;
}
footer #grupo{
    padding: 20px;
    float: left;
}













